:root{
    --background-color: #F0F0F0;
    --smallboxcolor:#DBDFEA;
    --blackcolor:#1f242b;
    --roundyfont:'Fira Sans', sans-serif;
    --formalfont:'Old Standard TT', serif;
 }
.contactform{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .contactContainer{
    width: 100%;
    background-color: var(--blackcolor);
    transition: .5s;

 }
 .contactFormTitle{
    margin-top: 20%;
    text-align: center;
    line-height: 30px;
    margin-bottom: 25%;
 }
 .contactFormTitle h2{
    font-family:'Old Standard TT', serif ;
    font-weight: 100;
    font-size: 1.6rem;
    color: var(--background-color);
    opacity: .6;
    transition: .5s;

 }
 .contactFormTitle h1{
    font-family:'Fira Sans', sans-serif;
    font-weight: 900;
    color: var(--smallboxcolor);
    font-size: 3rem;
    opacity: .8;
 }
 .contactform form{
    width: 100%;
    height: 80vh;
    border-radius: 40px 40px 0 0px;
   background-color: var(--smallboxcolor);
   transition: .5s;

 }
 .formContainer h1{
    font-family:'Fira Sans', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
 }
 .formContent{
    display: block;
    padding: 1rem;
 }
.wave-group {
    position: relative;
    width: 100%;
    margin-bottom: 3%;
  }
  
  .wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #515151;
    background: transparent;
    transition: .5s;

  }
  
  .wave-group .input:focus {
    outline: none;
  }
  
  .wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
    font-family: var(--roundyfont);
  }
  
  .wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .wave-group .input:focus ~ label .label-char,
  .wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  
  .wave-group .bar {
    position: relative;
    display: block;
    width: 100%;
  }
  
  .wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    transition: .5s;

  }
  
  .wave-group .bar:before {
    left: 50%;
  }
  
  .wave-group .bar:after {
    right: 50%;
  }
  .wave-group .textarea {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    height: 19vh;
    width: 100%;
    border: none;
    border-bottom: 2px solid #515151;
    background: transparent;
    transition: .5s;

  }
  
  .wave-group .textarea:focus {
    outline: none;
  }
  .wave-group .textarea:focus ~ label .label-char,
  .wave-group .textarea:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  .wave-group .textarea:focus ~ .bar:before,
  .wave-group .textarea:focus ~ .bar:after {
    width: 50%;
  }
  button{
    padding: .5rem 1rem;
    margin: auto;
    font-family: var(--roundyfont);
    border-radius: 10px;
    cursor: pointer;
  }
  form img {
    display: none;
  }
  footer{
    background-color: var(--blackcolor);
    min-height: 70vh;
    transition: .5s;

  }
  footer > h1{
    text-align: center;
    font-family: var(--formalfont);
    font-size: 2rem;
    color: var(--smallboxcolor);
    padding: 2rem;

  }
  .footerContentPosition, 
  .footerContent img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footerContainer {
    background-color: var(--smallboxcolor);
    margin: 0rem 2rem 0rem 2rem;
    padding: 3rem;
    transition: .5s;

   
  }
  .footerContainer h1{
    text-align: center;
    font-size: 2rem;
    font-family: var(--roundyfont);
  }
  .footerContent h1{
    text-align: center;
    font-family: var(--roundyfont);
    font-size: 1rem;
    opacity: .7;
  }

  @media (min-width: 706px) and (max-width: 1999px) {
    button{
        padding: 1rem 1.5rem;
        margin: auto;
        font-family: var(--roundyfont);
        border-radius:20px;
        cursor: pointer;
        font-size: 1rem;
        background-color: var(--blackcolor);
        color: var(--smallboxcolor);
        transition: .5s;

      }
      .contactform form{
        border-radius: 0px 0px 0 0px;
        height: 100vh;
        display: flex;
        position: relative;
        overflow: hidden;
     }
     .formContainer{
        position: absolute;
       width: 50%;
     }
     .formContainer h1{
            font-family:'Fira Sans', sans-serif;
            font-weight: 900;
            font-size: 6vmax;
            text-align: center;
     }
      .contactFormTitle h2{
        font-size: 3.6rem;
     }
     .contactFormTitle h1{
        font-size: 7rem;
     }
      .contactFormTitle{
        margin-top: 10%;
        line-height: 70px;
        margin-bottom: 10%;
     }
     .waveGroupContent{
        padding: 2rem;
     }
     .formContent{
        width: 100%;
        padding: 0rem;
     }
    
     .imageContent  img {
        position: absolute;
        left: 50%;
        display: block;
        width: 50%;
        height: 100vh;
        object-fit: cover;
        padding-bottom: 100px;
        filter: blur(5px);
      }
     .imageContent .imageContainer img{
        position: absolute;
        width: 50%;
        height: 100vh;
        scale: .7;
        filter: blur(0px);
      }
      footer{
        background-color: var(--blackcolor);
        min-height: 100vh;
        position: relative;
        transition: .5s;

      }
      footer > h1{
        font-size: 3rem;
        padding: 5rem;
      }
      .footerContainer > h1{
        font-size: 3rem;
        color: var(--blackcolor);
      }
}